<nav class="navbar pl-5 pr-5">
  <a class="navbar-brand" href="/"><b>LOGO</b></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Inicio</a>
      <a class="nav-item nav-link" href="#">Acerca</a>
      <a class="nav-item nav-link" href="#">Contacto</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <!--<a class="nav-item nav-link" href="https://www.facebook.com/apportateen/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>-->
      <a href="/" class="btn btn-primary">
        Ingresar
      </a>
    </div>
  </div>
</nav>
