@import "~styles-variables.scss";

.register {
  margin: 20px 0;

  &__title {
    color: $text-color;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1.28px;
  }

  &__actions {
    align-items: center;
    display: flex;
    // justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }


  .btn {
    &:focus {
      box-shadow: none;
    }

    &.accept{
      background-color: $color-green;
    }

    &.primary {
      background-color: $color-blue;
    }

    &.reject{
      background-color: $color-red;
    }

    &.card {
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    
    border: 0;
    color: $color-white;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 20px 0 0 20px;
    width: 260px;
    height: 580px;
    position: relative;

    img {
      border-radius: 5px 5px 0 0;
      height: 160px;
      width: 100%;
    }

    .info-container{
      cursor: pointer;
    }

    .text-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 15px 0px 15px;
    }

    .btn-container{
      align-items: center;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 230px;
      height: 20px;
      bottom: 10%;
      left: 5%;
    }

    .desc {
      font-weight: 300;
      font-size: 14;
    }

    .ciudad {
      font-weight: 500;
      background-color: $color-orange;
      text-align: center;
      width: 150px;
      color: white;
      margin-bottom: 5px;
      
    }

  }

  .mat-option.mat-active,
  .mat-option.mat-selected {
    background: $color-blue !important;
  }
}

/* Phone */
@media only screen and (max-width: 600px) {
  .register {
    &__actions {
      display: block;
    }

    &__item {
      margin-left: 0;
    }
  }
}

