<div class="usuario">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="button" mat-dialog-close class="close pull-right">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-12 row justify-content-center">
      <h3>Detalle Info. {{nombreUsuario}}</h3>
    </div>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step>
        <ng-template matStepLabel>Info. Usuario</ng-template>
        <div class="row no-gutters">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Nombre" value="" [(ngModel)]="nombreUsuario">
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Apellido" value="" [(ngModel)]="apellidoUsuario">
          </mat-form-field>
        </div>
        <div class="row no-gutters">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Fecha Nacimiento" value="" [(ngModel)]="fechaNacimientoUsuario">
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="CURP" value="" [(ngModel)]="curpUsuario">
          </mat-form-field>
        </div>
        <div class="row no-gutters">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Teléfono" value="" [(ngModel)]="telefonoUsuario">
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Sexo" value="" [(ngModel)]="sexoUsuario">
          </mat-form-field>
        </div>
        <div class="row no-gutters">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Nombre Tutor" value="" [(ngModel)]="tutorNombreUsuario">
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Telefono Tutor" value="" [(ngModel)]="tutorTelefonoUsuario">
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Correo Tutor" value="" [(ngModel)]="tutorCorreoUsuario">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext class="pull-right">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Info. Estudios</ng-template>
        <div class="row no-gutters">
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Nombre Escuela" value="" [(ngModel)]="escuelaUsuario">
          </mat-form-field>
        </div>
        <div class="row no-gutters">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Tipo Escuela" value="" [(ngModel)]="escuelaTipoUsuario">
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Grado Escuela" value="" [(ngModel)]="escuelaGradoUsuario">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext class="pull-right">Siguiente</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Documentos</ng-template>
        <div class="row">
          <div class="col-md-12" *ngIf="listaArchivos.length > 0; else elseBlock2">
            <div class="list-group">
              <div class="input-group mb-3" *ngFor="let archivo of listaArchivos">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{{archivo.nombre}}" disabled>
                  <div class="input-group-append">
                    <a href="{{archivo.url}}" class="btn btn-success" target="_blank">Abrir</a>
                    <button class="btn btn-danger" type="button"
                      (click)="deleteArchivo(archivo.archivo_path)">Borrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #elseBlock2>
            <div class="col-md-12">
              <h5>No se han subido documentos por parte del usuario.</h5>
            </div>
          </ng-template>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-success mr-2" (click)="guardar()">Guardar</button>
        <button type="button" mat-dialog-close class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </div>
</div>
