@import '~styles-variables.scss';


// img {
//   border-radius: 5px 5px 0 0;
//   height: 70vh;
//   width: 100%;
// }

.hero {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 70vh;
  justify-content: center;

  &__title {
    color: $color-white;
    // color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.69px;
    text-align: center;
    background-color: rgba(83,83,83,0.5);
    // background-color: rgba(236, 236, 236, 0.5);
    border-radius: 10px;
    padding: 50px;
  }
}


.description{
  h4 {
    color: $text-color;
    // font-size: 38px;
    font-weight: bold;
    letter-spacing: 1.28px;
  }
}

// .btn{

//   &.accept{
//     margin-bottom: 20px;
//     width: 100%;
//     background-color: $color-green;
//   }

//   &.reject{
//     margin-bottom: 20px;
//     width: 100%;
//     background-color: $color-red;
//   }
// }

.btn-primary{
  margin-bottom: 20px;
  width: 100%;
  background-color: $color-green;
  color: $color-white;
}

.btn-reject{
  margin-bottom: 20px;
  width: 100%;
  background-color: $color-red;
  color: $color-white;
}



.sideBox{
  margin: 20px 0px;
  h5{
    font-weight: bold;
  }
}

.informacion {
  margin: 55px;
}


.btn {
  &:focus {
    box-shadow: none;
  }

  &-primary {
    background-color: $color-green;
    border: 0;
    color: $color-white;
  }
}

.titleSection{
  background-color: #F7931D;
  padding: 7vh;

  h4{
    text-align: center;
    color:white;
    font-weight: bold;
  }
}

//carousel
.gallery{
  // width: 100vh;
  // height: 70vh;
  margin-left: auto !important;
  margin-right: auto !important;
}

.galleryBackground{
  background-color: #2d2d2d;
}


// .carousel-item {
//   height: 95vh;
// }

// .carousel-caption {
//   top: 65%;
//   transform: translateY(-50%);
// }

.carousel-item{
  img {
    width: auto !important;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
  }
}
