<div class="">
    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Open_House_Day_2014.jpg" alt=""> -->
    <section class="hero" style="background-image: url('../../../../assets/img/hero.png')">
      <h1 class="hero__title"> {{taller["nombre"]}} </h1>
    </section>
    <!-- <div>
      <h2>Inscríbete!</h2>
    </div> -->

    <div class="informacion">
      <div class="row">
        <div class="col-md-8 description">
          <h4 class="title">Descripción</h4>
          <p>{{taller["descripcion"]}}</p>
        </div>


        <div class="col-md-4">
          <button mat-button mat-stroked-button class="btn-primary"
            (click)="inscripcion(taller)">Inscribirme</button>

          <div class="sideBox">
            <h5 class="">Fecha y Hora NO ESTA</h5>
            <p>9:00 a.m. - 11:30 a.m.</p>
          </div>
          <div class="sideBox">
            <!-- <p>COSTO</p> -->
          </div>
          <div class="sideBox">
            <h5>Sede</h5>
            <p>{{taller["sedeDesc"]}}</p>
          </div>
          <div class="sideBox">
            <!-- <p>{{taller["cupo"]}}</p> -->
          </div>
          <div class="sideBox">
            <h5>Ubicación</h5>
            <p>{{taller["ubicacion"]}}</p>
          </div>

        </div>

        <!-- <h4 class="register__title">25 Junio - 29 Junio</h4>
    <p>$500 MXN</p> -->
      </div>
    </div>

</div>
