<main class="home-gallery">
  <div class="my-jumbotron">
    <img src="../../../assets/img/main.JPG" alt="">
    <div class="my-jumbotron-text">Galería</div>
  </div>
  <section class="home-gallery__gallery" id="Pats">
    <div class="home-gallery__gallery__list">
        <div class="row">
          <div class="col-6 col-md-4" style="margin-bottom:50px;" *ngFor="let imgs of gallery">
            <img (click)="openDialog(imgs)" class="gallery-img" [src]="imgs" alt="Patrocinador">
          </div>
        </div>
    </div>
  </section>
</main>