<div class="avisos">
  <div class="avisos__container">
    <mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner>
    <h3 class="avisos__title">Avisos</h3>
    <div class="avisos__item" *ngIf="!loading">
      <mat-card>
        <h5>Enviar nuevo aviso:</h5>
        <button mat-raised-button color="primary" class="mainbtns" (click)="enviarAviso(1)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">recent_actors</mat-icon><br />
          General
        </button>

        <button mat-raised-button color="primary" class="mainbtns" (click)="enviarAviso(2)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">supervised_user_circle</mat-icon><br />
          Por Taller
        </button>

        <button mat-raised-button color="primary" class="mainbtns" (click)="enviarAviso(3)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">location_on</mat-icon><br />
          Por Sede
        </button>
        <button mat-raised-button color="primary" class="mainbtns" (click)="enviarAviso(4)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">alternate_email</mat-icon><br />
          A Responsables
        </button>
      </mat-card>
    </div>
    <div class="avisos__item" *ngIf="!loading">
      <h3 class="avisos__title">Avisos Activos</h3>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let aviso of avisos" class="avisos__single">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{aviso.titulo}}
            </mat-panel-title>
            <mat-chip-list>
              <mat-chip *ngFor="let sede of aviso.nombresedes" [disableRipple]="true" [disabled]="true">
                {{sede}}
              </mat-chip>
            </mat-chip-list>
            <mat-chip-list>
              <mat-chip *ngFor="let taller of aviso.nombretalleres" [disableRipple]="true" [disabled]="true">
                {{taller}}
              </mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="aviso.general">
              <mat-chip [disableRipple]="true" [disabled]="true">
                GENERAL
              </mat-chip>
            </mat-chip-list>
          </mat-expansion-panel-header>
          <p class="avisos__msg">{{aviso.mensaje}}</p>
          <mat-action-row>
            <button mat-button color="primary" (click)="editar(aviso)">Editar</button>
            <button mat-button color="warn" (click)="eliminar(aviso)">Eliminar</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="avisos__item" *ngIf="!loading">
      <div class="list-group">
        <a *ngFor="let aviso of avisos" [class.active]="aviso.id == selectedAviso.id" (click)="select(aviso)"
          class="list-group-item list-group-item-action">
          <p>{{aviso.titulo}}</p>
          <mat-chip-list>
            <mat-chip *ngFor="let sede of aviso.nombresedes" [disableRipple]="true" [disabled]="true">
              {{sede}}
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list>
            <mat-chip *ngFor="let taller of aviso.nombretalleres" [disableRipple]="true" [disabled]="true">
              {{taller}}
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="aviso.general">
            <mat-chip [disableRipple]="true" [disabled]="true">
              GENERAL
            </mat-chip>
          </mat-chip-list>
        </a>
      </div>
    </div>
  </div>
</div>