@import '~styles-variables.scss';

button {
  margin-top: 16px;
}

.btn-primary {
  background-color: $color-blue;
  border-color: $color-blue;

  &:hover {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;
  }
}
