<div class="row no-gutters">
  <div class="col-12">
    <div class="form-group">
      <label for="txtCorreo">Correo electrónico</label>
      <input type="email" class="form-control" id="txtCorreo" [(ngModel)]="email" placeholder="Introduzca su correo">
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label for="txtPassword">Contraseña</label>
      <input type="password" class="form-control" id="txtPassword" [(ngModel)]="password" placeholder="Introduzca su contraseña">
    </div>
  </div>
  <button type="submit" (click)="login()" class="btn btn-primary btn-block">Iniciar sesión</button>
</div>
