@import '~styles-variables.scss';

.header {
  background: rgba(95, 95, 95, 0.57);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  &__content {
    align-items: center;
    display: flex;
    padding: 10px 0 10px 20px;
  }

  &__logo {
    height: 50px;
    width: 35px;
  }

  &__link,
  a {
    color: $color-white;
    font-size: 18px;
    letter-spacing: 0;

    &:hover {
      color: $color-blue;
      text-decoration: none;
    }

    & + & {
      margin-left: 25px;
    }
  }
}

a + button {
  margin-left: 15px;
}

button {
  background-color: $color-blue;
  border: none;
  color: $color-white;
  font-weight: 18px;
  padding: 30px;

  &:hover {
    background: darken($color-blue, 10%);
  }

  &.logout {
    background-color: $color-red;
  }
}

/* Phone */
@media only screen and (max-width: 600px) {
  .header {
    &__content {
      padding: 0 0 0 20px;
    }

    .navigation {
      display: none;
    }

    button {
      padding: 20px 30px;
    }
  }
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .header {
    .navigation {
      display: none;
    }
  }
}
