
@import '~styles-variables.scss';
@import "~bootstrap/scss/bootstrap.scss";

.header {
    background: rgba(95, 95, 95, 0.57);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &__content {
      align-items: center;
      display: flex;
      padding: 10px 0 10px 20px;
    }

    &__logo {
      height: 50px;
      width: 35px;
    }

    &__link {
      color: $color-white;
      font-size: 18px;
      letter-spacing: 0;

      &:hover {
        color: $color-blue;
        text-decoration: none;
      }

      & + & {
          margin-left: 25px;
      }
    }
}

button {
  background: $color-blue;
  border: none;
  color: $color-white;
  padding: 25px 30px;

  &:hover {
    background: darken($color-blue, 10%);
  }
}
