<div class="header">
    <div class="header__content">
        <a class="navbar-brand" routerLink="inicio">
        <img src="../../../../assets/img/logo.svg" class="header__logo" alt="Logo">
        </a>

        <div class="navigation" *ngIf="router.url === '/inicio'">
        <a pageScroll class="header__link" href="#QueEs">¿Qué es ApportaTeen?</a>
        <a pageScroll class="header__link" href="#Reqs">Convocatoria</a>
        <a pageScroll class="header__link" href="#Pats">Patrocinadores</a>
        <a pageScroll class="header__link" href="#Calendar">Calendario</a>
        </div>
    </div>
    <button routerLink="/ingresar" *ngIf="!user">
        Ingresar
    </button>
</div>
