<div class="header">
    <div class="header__content">
        <a class="navbar-brand" routerLink="inicio">
        <img src="../../../../assets/img/logo.svg" class="header__logo" alt="Logo">
        </a>

        <div class="navigation" *ngIf="router.url === '/inicio' || router.url === '/talleres'|| router.url === '/FAQ' || router.url === '/exito'|| router.url === '/gallery' || router.url === '/patrocinadores' || router.url === '/inicio#Reqs' || router.url === '/inicio#QueEs'">
            <a pageScroll class="header__link" href="/inicio#QueEs">¿Qué es Axt@Teen?</a>
            <a pageScroll class="header__link" href="/inicio#Reqs">Convocatoria</a>
            <a pageScroll class="header__link" href="/talleres">Talleres</a>
            <a pageScroll class="header__link" href="/exito">Historias de éxito</a>
            <a pageScroll class="header__link" href="/patrocinadores">Patrocinadores</a>
            <a pageScroll class="header__link" href="/gallery">Galería</a>
            <a pageScroll class="header__link" href="/FAQ">FAQ</a>
        </div>
        <div class="navigation" *ngIf="router.url === '/ingresar'">
            <a routerLink="/inicio">Página Prinicipal</a>
        </div>
    </div>

    <div *ngIf="router.url !== '/ingresar'">
        <button routerLink="/ingresar" *ngIf="!user">
            Registrar/Ingresar
        </button>
        <a class="header__link" *ngIf="user" (click)="userRedirect()">Preferencias</a>
        <button *ngIf="user" (click)="logout()" class="logout">
            Cerrar sesión
        </button>
    </div>
</div>
