<main class="home-contact">
    <div class="my-jumbotron">
      <img src="../../../assets/img/main2.jpg" alt="">
      <div class="my-jumbotron-text">Contacto</div>
    </div>

    <section class="home-contact__contact" id="Pats">
      <section id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="home-contact__contact__form text-center">
          <p class="form__title">¿Quieres Contactarnos?</p>
          <p class="form__subtitle">Contacto general: capitalhumano@csoftmty.org</p>
        </div>
      </section>
    </section>