<main class="home-contact">
    <div class="my-jumbotron">
      <img src="../../../assets/img/main2.jpg" alt="">
      <div class="my-jumbotron-text">Contacto</div>
    </div>

    <section class="home-contact__contact" id="Pats">
      <section id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="home-contact__contact__form text-center">
          <p class="form__title">Contacto general</p>
          <a  href="https://www.facebook.com/search/top?q=apportateen"><p class="form__subtitle">Facebook</p></a>
          <p class="concats_container">capitalhumano@csoftmty.org</p>
          <p class="concats_container">+52 8183433128</p>
          <p class="concats_container">CSOFTMTY. Miguel Hidalgo PTE, Piso 38, SUITE/OFICINA 38-115. Monterrey Nuevo León. CP. 64060</p>
        </div>
      </section>
    </section>