<div class="aviso-modal">
  <div>
    <h1 mat-dialog-title>Ya casi estas Inscrito!</h1>
    <div>
      <div mat-dialog-content>
        <p>Antes de continuar, es necesario que realices el pago de inscripción del programa. Favor de descargar la ficha de pago y una vez que se haya hecho el pago enviar el comprobante a angelica.cisneros@csoftmty.org.</p>
      </div>
      <!-- <div class="row mb-4">
        <div *ngIf="user.escuela_tipo == 'Privada'; else fichaPublica" class="col-md-12 text-center">

          <a class="btn btn-primary" href="../../../../assets/Ficha_de_pago.pdf" download>Descargar ficha de pago</a>
        </div>
        <ng-template #fichaPublica class="row mb-4">
          <div class="col-md-12 text-center">

            <a class="btn btn-primary" href="../../../../assets/Ficha_de_pago_500.pdf" download>Descargar ficha de pago</a>
          </div>
        </ng-template>

      </div> -->
      <hr>
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          <!-- <button class="btn btn-danger" (click)="noClick()">Cerrar</button> -->
        </div>
      </div>
    </div>
  </div>

</div>
