<!-- <div class="aviso-modal">
  <div>
    <h1 mat-dialog-title>Ya casi estas Inscrito!</h1>
    <div>
      <div mat-dialog-content>
        <p>Para completar tu inscripción es necesario que descargues la ficha de pago y una vez que se haya hecho el pago subir el comprobante a tu pestaña de Talleres Inscritos.</p>
      </div>
      <hr>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="closeDialog()">Aceptar</button>
      </mat-dialog-actions>
    </div>
  </div>

</div> -->

<!-- <h1 mat-dialog-title>Confirmación</h1>
<div mat-dialog-content>
  <p>Para completar tu inscripción es necesario que descargues la ficha de pago y una vez que se haya hecho el pago
    subir el comprobante a tu pestaña de Talleres Inscritos.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()" color="warn">Aceptar</button>

</div> -->
