<div class="talleres">
  <div class="talleres__container">
    <div class="talleres__title lpadfix">
      <h3>Talleres</h3>
      <button mat-icon-button color="primary" (click)="add()">
        <mat-icon aria-label="add_sede">add_circle</mat-icon>
      </button>
    </div>
    <div class="talleres__item">
      <div class="col-md-6 talleres__list">
        <div class="list-group">
          <a *ngFor="let t of talleres" [class.active]="t.id == selectedTaller.id" (click)="select(t)"
            class="list-group-item list-group-item-action">{{t.nombre}}
            - {{t.sedeDesc}}</a>
        </div>
      </div>
    </div>
    <div class="talleres__item">
      <div class="col-md-12 detail con">
        <h5>{{ newTaller ? 'Nuevo taller:' : ' '}} </h5>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="selectedTaller.nombre" name="nombreTaller">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput [(ngModel)]="selectedTaller.descripcion"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sede" [(ngModel)]="selectedTaller.sede" name="sedeselect">
            <mat-option *ngFor="let s of sedes" [value]="s.id">{{s.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tutor</mat-label>
            <input matInput [(ngModel)]="selectedTaller.nombre_tutor" name="tallerNombre">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>E-mail del Tutor</mat-label>
            <input matInput [(ngModel)]="selectedTaller.correo_tutor" name="correo_tutor">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Teléfono del tutor</mat-label>
            <input matInput type="number" [(ngModel)]="selectedTaller.telefono_tutor" name="telefono_tutor">
          </mat-form-field>

        <mat-form-field [hidden]="true">
          <mat-select placeholder="Categoría" [(ngModel)]="selectedTaller.categoria" name="cetselect">
            <mat-option *ngFor="let c of categorias" [value]="c.id">{{c.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cupo máximo</mat-label>
          <input matInput type="number" [(ngModel)]="selectedTaller.cupo" name="cupoTaller">
        </mat-form-field>

        <div class="form-group col-md-12">
          <label for="archivoInput">Seleccionar Foto de Taller:</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="archivoInput" (change)="getArchivos($event)" multiple>
              <label *ngIf="selectedTaller.url == null; else elseFoto" class="custom-file-label text-truncate"
                for="archivoInput">Seleccionar Foto</label>
              <ng-template #elseFoto>
                <label class="custom-file-label text-truncate" for="archivoInput">{{selectedTaller.foto_path}}</label>
              </ng-template>
            </div>
          </div>
        </div>
        <div>
          <label for="archivoInput">Imágenes:</label>
          <br>
          <div *ngFor="let url of selectedTaller.url_array;" class="imageDivTaller">
            <button mat-icon-button (click)="deleteImage(url)">
              <mat-icon>delete</mat-icon>
            </button>
            <img class="showcaseImg" [src]="url" alt="">
          </div>
        </div>

        <div *ngIf="!newTaller">
          <button mat-raised-button class="pull-right" color="warn" (click)="newDelete()">Eliminar</button>
          <button mat-raised-button class="pull-right" color="primary" (click)="save()"
            style="margin-right:12px;">Guardar</button>
        </div>
        <div *ngIf="newTaller">
          <button mat-stroked-button class="pull-right" color="primary" (click)="cancel()">Cancelar</button>
          <button mat-raised-button class="pull-right" color="primary" (click)="create()"
            style="margin-right:12px;">Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>