.talleres {
  &__container {
    margin: 0 auto;
    width: 90%;
  }

  &.costos {
    margin-bottom: 70px;
  }

  &.button{
    float: right;
    margin: 0px auto;
  }

  &.buttonSave{
    margin-right: 10px;
  }

  &__title {
    display: flex;
    margin-bottom: 20px;
  }

  &__item {
    & + & {
      margin-top: 30px;
    }
  }
}

.showcaseImg{
  width:100%;
  height: auto;
}

.imageDivTaller button {
  z-index: 1000;
  min-width:0;
  width:40px;
  height:40px;
  position: absolute;
  top:5%;
  right: 5%;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.imageDivTaller{
  padding:20px;
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 200px;
}

mat-form-field {
  width: 100%;
}
