@import '~styles-variables.scss';

.home {
  color: text-color;

  .row {
    margin: 0;
    width: 100%;
  }

  .col-6 {
    padding: 0;
  }

  &__hero {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 95vh;
    justify-content: center;
  }

  &__info {
    color: $color-white;
    display: flex;
    width: 100%;

    &__block {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px 0;

      p {
        color: $color-white;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.55px;
        margin-top: 35px;
        text-align: center;
      }

      &--about {
        background-color: $color-blue;

        p {
          margin-top: 35px;
        }
      }

      &--register {
        background-color: $color-gray;

        p {
          margin-top: 54px;
        }
      }

      &--calendar {
        background-color: $color-orange;

        p {
          margin-top: 50px;
        }
      }
    }
  }

  &__about {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 100px 0;

    h1 {
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 1.69px;
      margin-bottom: 35px;
      text-align: center;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.76px;
      text-align: center;
      width: 70%;
    }
  }

  &__activities {
    &__title {
      background-color: $color-orange;
      color: $color-white;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 1.69px;
      margin-bottom: 0;
      padding: 30px 0;
      text-align: center;
    }

    .text-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 90%;
    }

    &__text {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.76px;
      width: 90%;

      &.right {
        text-align: right;
      }

      & + & {
        margin-top: 25px;
      }
    }

    img {
      width: 100%;
    }
  }

  &__participation {
    .details-container {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 95%;
    }

    .subtitle {
      display: inline-block;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 1.69px;
      margin-bottom: 0;
    }

    button {
      background: transparent;
      border: none;

      img {
        align-items: center;
        display: flex;
        justify-content: center;
        transform: rotate(-90deg);
        width: 35px;
      }
    }

    .list {
      color: $color-white;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.61px;
      list-style-type: decimal;
      margin: 0 auto;
      width: 90%;

      &--bg {
        background-color: $color-gray;
        display: none;
        padding: 30px 0;
        width: 100%;
      }

      li + li {
        margin-top: 5px;
      }
    }

    &__details,
    &__requirements {
      .open {
        img {
          transform: rotate(0deg) !important;
        }

        & ~ .list--bg {
          display: block;
        }
      }
    }
  }

  &__calendar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .home__activities__title {
      width: 100%;
    }

    img {
      width: 45%;
    }
  }

  &__sponsors {
    &__title {
      align-items: center;
      color: $color-white;
      display: flex;
      font-size: 40px;
      font-weight: bold;
      justify-content: center;
      letter-spacing: 1.69px;
    }

    &__list {
      align-items: center;
      background-color: $color-blue;
      display: flex;

      .sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 0;
      }

      .sponsor-container {
        align-items: center;
        background-color: $color-white;
        display: flex;
        height: 150px;
        justify-content: center;
        margin: 20px 20px 0 20px;
        padding: 20px;
        width: 280px;

        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0;
        }

        &:nth-child(even) {
          margin-left: 0;
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 50%;
        }
      }
    }

    &__form {
      padding: 50px 0;

      .form {
        margin: 0 auto;
        padding-top: 40px;
        width: 60%;

        &__title {
          font-size: 50px;
          font-weight: bold;
          letter-spacing: 1.69px;
          margin-bottom: 0;
        }

        &__subtitle {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0.76px;
        }

        .custom-input {
          border: none;
          border-bottom: 1px solid $border-color;
          display: block;
          font-size: 18px;
          font-weight: 300;
          padding: 10px;
          width: 100%;

          &::placeholder {
            color: $placeholder-color;
          }
        }

        input + input {
          margin-top: 30px;
        }

        button {
          background-color: $color-blue;
          border: none;
          border-radius: 3px;
          color: $color-white;
          display: inline-block;
          font-size: 21px;
          font-weight: 300;
          letter-spacing: 0.47px;
          padding: 10px 50px;
          text-align: center;

          &:hover {
            background: darken($color-blue, 10%);
          }
        }

        .action {
          margin-top: 50px;
        }
      }
    }
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .home {
    &__hero {
      img {
        width: 80%;
      }
    }

    .col-4,
    .col-6 {
      flex: unset;
      max-width: 100%;
      width: 100%;
    }

    &__about {
      p {
        width: 100%;
      }
    }

    .row {
      &.mobile-arrangement {
        flex-direction: column-reverse;
      }
    }

    .text-container {
      padding: 25px 0;
    }

    &__calendar {
      img {
        width: 100%;
      }
    }

    &__sponsors {
      margin-top: 30px;

      &__title {
        justify-content: center;
        margin-top: 30px;
        padding-left: 0;
      }

      .sponsors {
        justify-content: center;
      }

      .sponsor-container {
        height: 200px;
        margin: 15px 0 0 0;
        width: 95%;

        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 15px;
        }

        &:last-child {
          margin-bottom: 15px;
        }
      }
    }

    .form {
      width: 90%;

      &__title {
        font-size: 46px;
      }
    }
  }
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home {
    &__about {
      p {
        width: 90%;
      }
    }

    &__activities {
      img {
        height: 100%;
        object-fit: cover;
      }

      .text-container {
        padding: 25px 0;
      }
    }

    &__calendar {
      img {
        width: 100%;
      }
    }

    &__sponsors {
      &__title {
        margin: 30px 0;
      }

      &__list {
        padding-bottom: 30px;
      }

      .sponsors {
        justify-content: center;
      }

      .sponsor-container {
        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 20px;
        }
      }

      .row {
        display: block;
      }

      .col-6 {
        flex: unset;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
