<div class="body-wrap boxed-container">
    <header class="site-header">
    </header>
    <main>
        <section class="hero text-light text-center">
            <div class="container-sm">
                <div class="hero-inner">
                    <h1 class="hero-title h2-mobile mt-0 is-revealing">ApportaTeen</h1>
                    <p class="hero-paragraph is-revealing">ApportaTeen es un concurso para promover entre estudiantes desde nivel elemental hasta Preparatoria, de México, el gusto por las Tecnologías de Información y el desarrollo del pensamiento computacional, mediante el desarrollo de Aplicaciones
                        Móviles.
                    </p>
                    <p class="hero-cta is-revealing" style="text-align:center;"><a class="button button-secondary button-shadow" routerLink="/ingresar">INGRESAR
              AHORA</a></p>
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" (click)="clickFirstSlide()" [className]="first ? 'active' : ''"></li>
                            <li data-target="#carousel" data-slide-to="1" (click)="clickSecondSlide()" [className]="second  ? 'active' : ''"></li>
                            <li data-target="#carousel" data-slide-to="2" (click)="clickThirdSlide()" [className]="third  ? 'active' : ''"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div [className]="first  ? 'carousel-item active' : 'carousel-item'">
                                <img class="d-block w-100 carousel-img" src="../../../assets/img/main.jpg" alt="First slide">
                            </div>
                            <div [className]="second  ? 'carousel-item active' : 'carousel-item'">
                                <img class="d-block w-100 carousel-img" src="../../../assets/img/main2.jpg" alt="Second slide">
                            </div>
                            <div [className]="third  ? 'carousel-item active' : 'carousel-item'">
                                <img class="d-block w-100 carousel-img" src="../../../assets/img/main4.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" (click)="prev()" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" (click)="next()" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class="clients section">
            <div class="container">
                <div class="clients-inner section-inner has-top-divider">
                    <div class="container-sm">
                        <ul class="list-reset mb-0">
                            <li>
                                <span class="screen-reader-text">csoft</span>
                                <div width="132" height="40"><img class="img-fluid resize" src="../../../assets/img/csoft.png" alt="csoft"></div>

                            </li>
                            <li>
                                <span class="screen-reader-text">apportateen</span>
                                <div width="132" height="40"><img class="img-fluid resize" src="../../../assets/img/LogoGrey.png" alt="apporta"></div>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section class="features-extended section">
            <div class="container">
                <div class="features-extended-inner section-inner has-top-divider">
                    <div class="features-extended-header text-center">
                        <div id="QueEs" class="container-sm">
                            <h2 class="section-title mt-0">¿Qué es ApportaTeen?</h2>
                            <p class="section-paragraph">ApportaTeen es un concurso para promover entre estudiantes desde nivel elemental hasta Preparatoria, de México, el gusto por las Tecnologías de Información y el desarrollo del pensamiento computacional, mediante el desarrollo
                                de Aplicaciones Móviles.
                            </p>
                        </div>
                    </div>
                    <div class="feature-extended">
                        <div class="feature-extended-image is-revealing">
                            <div width="480" height="360"><img class="img-fluid rounded resize" src="../../../assets/img/queEs.png"></div>
                        </div>
                        <div class="feature-extended-body">
                            <h3 class="mt-0">Actividades</h3>
                            <p>Los estudiantes se inscriben por medio de esta plataforma de forma individual.</p>
                            <p>Asisten a 3 talleres donde identifican necesidades en su comunidad, escuela, localidad o en su entorno social y eligen la necesidad que quieren resolver por medio de una app. </p>
                            <p>En talleres de preparación, llevados a cabo por expertos en educación y en tecnología, desarrollan su creatividad, se divierten, innovan, conviven, y desarrollan una aplicación móvil (prototipo).</p>

                        </div>
                    </div>
                    <div class="feature-extended">
                        <div class="feature-extended-image is-revealing">
                            <div width="480" height="360"><img class="img-fluid rounded resize" src="../../../assets/img/queEs3.jpg" alt="que2"></div>
                        </div>
                        <div class="feature-extended-body">
                            <h3 class="mt-0">Actividades</h3>
                            <p>En el último taller envían su prototipo y un jurado formado por expertos en el ámbito tecnológico social evalúa las mismas seleccionando las mejores para la etapa final.</p>
                            <p>Los estudiantes de las apps seleccionadas, serán apoyados por mentores, tendrán tiempo para mejorar su aplicación, para presentarla en la etapa final y entrega de premios.</p>
                        </div>
                    </div>
                    <div id="Reqs" class="feature-extended">
                        <div class="feature-extended-image is-revealing">
                            <!--<div width="480" height="360"><img class="img-fluid rounded resize" src="../../../assets/img/req1.jpg" alt="req1"></div> -->

                        </div>
                        <div class="feature-extended-body">
                            <h3 class="mt-0">Requisitos de inscripción</h3>
                            <ol>
                                <li>Estar estudiando máximo el 3er año de preparatoria </li>
                                <li>Rango de edad: 10 a 18 años de edad cumplidos al 31 de diciembre de 2017, cursando la primaria, secundaria o preparatoria al momento del concurso. </li>
                                <li>Registrarse individualmente </li>
                                <li>Asistir a los talleres</li>
                                <li>Pertenecer a una institución educativa, mostrar documento que lo compruebe en caso de tener los 18 años cumplidos al momento del concurso.</li>
                                <li>Presentar y entregar copia del acta de nacimiento o documento oficial que compruebe la edad como CURP o pasaporte, el primer día del evento (18 de febrero).</li>
                                <li>Descargar y firmar permiso para participar, entregar el primer día del evento el 18 de febrero, firmado por padre/madre o tutor. O bien firmarlo el primer día del evento para lo cual alguno de los padres o el tutor deberá
                                    llevar al participante y firmar el permiso.</li>
                            </ol>
                            <h3 class="mt-0">Importante</h3>
                            <ol>
                                <li>No es necesario tener experiencia previa desarrollando apps o programando, sólo ganas de participar.
                                </li>
                                <li>Es para niñas, niños y jóvenes independientemente de la escuela y de las habilidades previas. </li>
                                <li>No se necesita un equipo para participar. </li>
                                <li>No es necesario contar con computadora para participar.</li>

                            </ol>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="features section text-center">
            <div class="container">
                <div id="Pats" class="features-inner section-inner has-top-divider">
                    <h2 class="section-title mt-0">Patrocinadores</h2>
                    <div class="features-wrap">
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor resize" src="../../../assets/img/sponsors/accenture2.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor  resize" src="../../../assets/img/sponsors/hacsys.jpg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid  resize" src="../../../assets/img/sponsors/cloudsourceit.png"></div>
                                </div>

                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor resize" src="../../../assets/img/sponsors/genios.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="features-wrap">
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor resize" src="../../../assets/img/sponsors/humans.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor  resize" src="../../../assets/img/sponsors/ice.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid   resize" src="../../../assets/img/sponsors/iitt.png"></div>
                                </div>

                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid resize" src="../../../assets/img/sponsors/nuva.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="features-wrap">
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor resize" src="../../../assets/img/sponsors/skye.jpg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor  resize" src="../../../assets/img/sponsors/Softek.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid   resize" src="../../../assets/img/sponsors/sycnos.png"></div>
                                </div>

                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor resize" src="../../../assets/img/sponsors/tec.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="features-wrap">
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid  resize" src="../../../assets/img/sponsors/tecnonegocios.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid   resize" src="../../../assets/img/sponsors/udem.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid   resize" src="../../../assets/img/sponsors/Uerre.png"></div>
                                </div>

                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <div width="100" height="100"><img class="img-fluid img_sponsor resize" src="../../../assets/img/sponsors/acm.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Todo Quieres ser patrocinador?-->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h4 class="sponsor-h4">¿Quieres ser patrocinador?</h4>
                                <br>
                                <p class="sponsor-h4"><b>Registra tus datos y nosotros te contactaremos!</b></p>
                                <form class="sponsor-form">
                                    <mat-form-field class="sponsor-full-width">
                                        <input matInput [(ngModel)]="sponsor.nombre" [ngModelOptions]="{standalone: true}" placeholder=" Nombre/Nombre de la organización ">
                                    </mat-form-field>
                                    <mat-form-field class="sponsor-full-width ">
                                        <input matInput type="email" [(ngModel)]="sponsor.correo " [ngModelOptions]="{standalone: true}" placeholder="Correo">
                                    </mat-form-field>
                                    <button mat-raised-button (click)="register()" class="pull-right" color="primary">Enviar</button>

                                </form>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div width="150" height="150" class=""><img class="img-fluid resize-sponsor pt-5 mt-5" src="../../../assets/img/sponsors/handshake1.png"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <section class="pricing section">
            <div class="container">
                <div class="pricing-inner section-inner has-top-divider">
                    <h2 id="Calendar" class="section-title mt-0 text-center">Calendario</h2>
                    <img class="img.fluid rounded" src="../../../assets/img/calendario.png" alt="calendario">
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="site-footer-inner">
                <div class="brand footer-brand">
                    <a href="http://www.csoftmty.org/">
                        <div width="400" height="400"><img class="img-fluid resize" src="../../../assets/img/csoftcolor.jpeg"></div>
                    </a>
                </div>
                <ul class="footer-links list-reset">
                    <li>
                        Teléfono: +52 (81) 8343 3128
                    </li>

                </ul>
                <ul class="footer-social-links list-reset">
                    <li>
                        <a href="https://www.facebook.com/apportateen/">
                            <span class="screen-reader-text">Facebook</span>
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
                  fill="#0EB3CE" />
              </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ApportaTEEN">
                            <span class="screen-reader-text">Twitter</span>
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z"
                  fill="#0EB3CE" />
              </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="screen-reader-text">Google</span>
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
                  fill="#0EB3CE" />
              </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer-copyright">apportateen@csoftmty.org</div>
            </div>
        </div>
    </footer>
</div>