<main class="home">
  <section class="home__hero" style="background-image: url('../../../../assets/img/hero.png')">
    <img src="../../../../assets/img/logo-text.svg">
  </section>
  <section class="home__info">
    <div class="row">
      <div class="col-4 home__info__block home__info__block--about">
      <img src="../../../../assets/img/about.svg">
      <p>Conócenos</p>
    </div>
    <div class="col-4 home__info__block home__info__block--register">
      <img src="../../../../assets/img/register.svg">
      <p>Participa en Aportateen</p>
    </div>
    <div class="col-4 home__info__block home__info__block--calendar">
      <img src="../../../../assets/img/calendar.svg">
      <p>Fecha de eventos</p>
    </div>
    </div>
  </section>
  <section class="home__about" id="QueEs">
    <h1>¿Qué es Aportateen?</h1>
    <p>Axt@Teen es un programa intensivo para promover entre estudiantes de México ,desde nivel elemental hasta Preparatoria, el gusto por las Tecnologías de Información y el desarrollo del pensamiento computacional.</p>
  </section>
  <section class="home__activities">
    <p class="home__activities__title">Actividades</p>
    <div class="row">
      <div class="col-6">
        <img src="../../../../assets/img/block-1.png">
      </div>
      <div class="col-6 text-container">
        <p class="home__activities__text">Los estudiantes se inscriben por medio de esta plataforma de forma individual.</p>
        <p class="home__activities__text">Eligen el taller y la sede a la cuál desean acudir y asisten durante una semana de 9:00 a 16:00 hrs a los talleres
        impartidos, donde identifican necesidades en su comunidad, escuela, localidad o en su entorno social y eligen la
        necesidad que quieren resolver por medio de la tecnología aprendida.</p>
      </div>
    </div>
    <div class="row mobile-arrangement">
      <div class="col-6 text-container">
        <p class="home__activities__text right">Cada uno de los talleres de preparación, serán llevados a cabo por expertos en educación y en tecnología, desarrollando
        así la creatividad en los participantes, quienes aprenden, se divierten, innovan, conviven, y logran convertir sus ideas
        en proyectos tangibles y de gran beneficio a la sociedad.</p>
        <p class="home__activities__text right">En el último día del campamento los participantes exponen su prototipo de Proyecto y expertos en el ámbito tecnológico y
        social evalúan y seleccionan los 3 mejores, mismos que serán premiados .</p>
      </div>
      <div class="col-6">
        <img src="../../../../assets/img/block-2.png">
      </div>
    </div>
  </section>
  <section class="home__participation" id="Reqs">
    <p class="home__activities__title">Convocatoria</p>
    <div class="home__participation__requirements">
      <div class="details-container" (click)="rstatus=!rstatus" [ngClass]="rstatus ? '' : 'open'">
        <p class="subtitle">Requisitos</p>
        <button>
          <img src="../../../../assets/img/down-arrow.svg">
        </button>
      </div>
      <div class="list--bg">
        <ol class="list">
          <li>Estar estudiando máximo el 3er año de preparatoria.</li>
          <li>Rango de edad: 12 a 17 años cumplidos al 31 de diciembre de 2018, cursando la primaria, secundaria o preparatoria al momento del concurso.</li>
          <li>Registrarse individualmente.</li>
          <li>Asistir a los talleres.</li>
          <li>Pertenecer a una institución educativa, mostrar documento que lo compruebe en caso de tener los 18 años cumplidos al momento del concurso.</li>
          <li>Presentar y entregar copia del acta de nacimiento o documento oficial que compruebe la edad como CURP o pasaporte, el primer día del evento.</li>
          <li>Descargar, firmar y escanear el permiso para participar, subirlo a la plataforma o en su defecto entregar el primer día del evento, firmado por padre/madre o tutor. O bien firmarlo el primer día del evento para lo cual alguno de los padres o el tutor deberá llevar al participante y firmar el permiso.</li>
        </ol>
      </div>
    </div>
    <div class="home__participation__details">
      <div class="details-container" (click)="status=!status" [ngClass]="status ? '' : 'open'">
        <p class="subtitle">Importante</p>
        <button>
          <img src="../../../../assets/img/down-arrow.svg">
        </button>
      </div>
      <div class="list--bg">
        <ol class="list">
          <li>No es necesario tener experiencia previa programando, sólo ganas de participar.</li>
          <li>Es para niñas, niños y jóvenes independientemente de la escuela y de las habilidades previas.</li>
          <li>No se necesita un equipo para participar.</li>
          <li>No es necesario contar con computadora para participar.</li>
        </ol>
      </div>
    </div>
  </section>
  <section class="home__sponsors" id="Pats">
    <div class="home__sponsors__list">
      <div class="row">
        <div class="col-6 home__sponsors__title">
          <p>Patrocinadores</p>
        </div>
        <div class="col-6 sponsors">
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/udem.png">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/skye.jpg">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/accenture2.png">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/humans.png">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/hacsys.jpg">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/ice.png">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/cloudsourceit.png">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/iitt.png">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/Softek.png">
          </div>
          <div class="sponsor-container">
            <img src="../../../../assets/img/sponsors/Uerre.png">
          </div>
        </div>
      </div>
    </div>
    <div class="home__sponsors__form text-center">
      <p class="form__title">¿Quieres ser patrocinador?</p>
      <p class="form__subtitle">¡Registra tus datos y nosotros te contactaremos!</p>
      <form class="form">
        <input [(ngModel)]="sponsor.nombre" [ngModelOptions]="{standalone: true}" placeholder="Nombre">
        <input type="email" [(ngModel)]="sponsor.correo" [ngModelOptions]="{standalone: true}" placeholder="Correo">
        <div class="action text-center">
          <button (click)="register()">Enviar</button>
        </div>
      </form>
    </div>
  </section>
</main>
