<div class="admin-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button [hidden]="!mobileQuery.matches" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h3 class="app-name">Administración</h3>
    <span class="remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'" [disableClose]="!mobileQuery.matches" [opened]="!mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="inicio">Inicio</a>
        <a mat-list-item routerLink="convocatorias">Convocatoria</a>
        <a mat-list-item routerLink="sedes">Sedes</a>
        <a mat-list-item routerLink="categorias">Categorías</a>
        <a mat-list-item routerLink="talleres">Talleres</a>
        <a mat-list-item routerLink="patrocinadores">Patrocinadores</a>
        <a mat-list-item routerLink="usuarios">Usuarios</a>
        <a mat-list-item routerLink="correos">Correos</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
