@import "~styles-variables.scss";

.home-exito {
  color: text-color;
  .my-jumbotron {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      content: "";
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    }
    img {
      width: 100%;
      height: 95vh;
    }
    &-text {
      z-index: 2;
      color: white;
      font-size: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .historia-exito {
    padding: 2% 6%;
    margin-bottom:20px;
    position: relative;
    max-height: 500px;
    overflow: hidden;
    img{
      max-width: 100%;
    }
    // .imgcol{
    //   max-height:300px;
    // }
    .nombre{
      font-size: 36px;
      text-transform: uppercase;
      color: #F7931D;
      font-weight: bold;
    }
    .subtitulo{
      font-size: 30px;
      color: #6EB7C2;
    }
    .testimonio{
      font-size: 20px;
    }
  }
  .row {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .col{
    flex: 50%;
  }

  .carousel-item {
    height: 95vh;
  }

  .carousel-caption {
    top: 65%;
    transform: translateY(-50%);
  }

  .btn-link {
    padding: 0;
  }

  .modal,
  body.modal-open {
    padding-right: 0 !important;
  }

  body.modal-open {
    overflow: auto;
  }

  body.scrollable {
    overflow-y: auto;
  }

  .modal-body img {
    width: 100%;
  }
  &__hero {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 95vh;
    justify-content: center;
  }

  &__info {
    color: $color-white;
    display: flex;
    width: 100%;

    &__block {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px 0;
      text-decoration: none;

      p {
        color: $color-white;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.55px;
        margin-top: 35px;
        text-align: center;
      }
    }
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .home-exito {
    .historia-exito {
      padding: 2% 6%;
      margin-bottom:20px;
      position: relative;
      max-height: 500px;
      overflow: hidden;
      img{
        height: 100%;
      }
      .imgcol{
        max-height:100px;
      }
      .nombre{
        font-size: 36px;
        text-transform: uppercase;
        color: #F7931D;
        font-weight: bold;
      }
      .subtitulo{
        font-size: 30px;
        color: #6EB7C2;
      }
      .testimonio{
        font-size: 20px;
      }
    }

    &__hero {
      img {
        width: 80%;
      }
    }

    .col-4,
    .col-6 {
      flex: unset;
      max-width: 100%;
      width: 100%;
    }

    .row {
      &.mobile-arrangement {
        flex-direction: column-reverse;
      }
    }

    .text-container {
      padding: 25px 0;
    }

    .form {
      width: 90%;

      &__title {
        font-size: 36px;
      }
    }
  }

  .steps {
    &-section {
      display: none;
    }
  }
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home-exito {
  }
}

$break-point: 500px;

.steps {
  &-timeline {
    margin: 30px 0;

    @media screen and (max-width: $break-point) {
      border-left: 2px solid $color-blue;
      margin-left: 25px;
    }

    @media screen and (min-width: $break-point) {
      border-top: 2px solid $color-blue;
      margin-left: 16.65%;
      margin-right: 16.65%;
      margin-top: 60px;
      padding-top: 20px;
    }

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &-header {
    color: $color-blue;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }

  &-one,
  &-two,
  &-three {
    @media screen and (max-width: $break-point) {
      margin-left: -25px;
    }

    @media screen and (min-width: $break-point) {
      float: left;
      margin-top: -50px;
      width: 33%;
    }
  }

  &-one,
  &-two {
    @media screen and (max-width: $break-point) {
      padding-bottom: 40px;
    }
  }

  &-one {
    @media screen and (min-width: $break-point) {
      margin-left: -16.65%;
      margin-right: 16.65%;
    }
  }

  &-three {
    @media screen and (max-width: $break-point) {
      margin-bottom: -100%;
    }

    @media screen and (min-width: $break-point) {
      margin-left: 16.65%;
      margin-right: -16.65%;
    }
  }

  &-img {
    background-color: $color-blue;
    border-radius: 50%;
    color: $color-white;
    display: block;
    height: 50px;
    margin: auto;
    padding-top: 10px;
    width: 50px !important;

    @media screen and (max-width: $break-point) {
      float: left;
      margin-right: 20px;
    }
  }

  &-name,
  &-description {
    margin: 0;
  }

  &-description {
    width: 100% !important;
  }

  &-name {
    color: $color-blue;
    font-size: 1.4em;
    font-weight: 400;

    @media screen and (min-width: $break-point) {
      text-align: center;
    }
  }
}
