<div class="usuarios">
  <div class="usuarios__container">
    <h3 class="usuarios__title">Usuarios Registrados</h3>
    <p>Da clic en la fila para ver el detalle de los datos del alumno.</p>
    <div class="row justify-content-start col-md-3 pull-right">
    </div>
    <div class="usuarios__table" *ngIf="selected.length > 0">
      <table mat-table [dataSource]="selected" class="mat-elevation-z8 col-md-12">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let user"> {{user.nombre}} {{user.apellido}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Correo </th>
          <td mat-cell *matCellDef="let user"> {{user.correo}} </td>
        </ng-container>

        <ng-container matColumnDef="curp">
          <th mat-header-cell *matHeaderCellDef> CURP </th>
          <td mat-cell *matCellDef="let user"> {{user.curp}} </td>
        </ng-container>

        <ng-container matColumnDef="talleres">
          <th mat-header-cell *matHeaderCellDef> Talleres inscritos </th>
          <td mat-cell *matCellDef="let user"> {{user.talleres}} </td>
        </ng-container>

        <ng-container matColumnDef="documentos">
          <th mat-header-cell *matHeaderCellDef> Documentos </th>
          <td mat-cell *matCellDef="let user" class="text-center"> {{user.documentos}}/3 </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let user" (click)="$event.stopPropagation()">
            <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetalle(row)"></tr>

      </table>

    </div>

    <div *ngIf="selected.length < 1; else elseBlock" class="col-md-12 justify-content-center d-flex">
      <h4>No existen usuarios registrados. </h4>
    </div>
    <ng-template #elseBlock>
      <div class="d-flex justify-content-center">
        <button mat-button (click)="exportAsXLSX()" color="primary" class="mt-4">Descargar</button>
      </div>
    </ng-template>
  </div>
</div>
