.usuarios {
  &__container {
    margin: 0 auto;
    width: 90%;
  }

  &__title {
    margin-bottom: 20px;
  }
}

mat-form-field {
  width: 100%;
}

mat-header-cell {
  display:flex;
  text-align: center !important;
}
