<div class="aviso-modal">
  <div *ngIf="user.num_conf_pago == null; else avisoTaller">
    <h1 mat-dialog-title>AVISO - Falta Pago de Inscripción</h1>
    <div>
      <div mat-dialog-content>
        <p>Antes de continuar, es necesario que realices el pago de inscripción del programa. Favor de descargar la ficha de pago y una vez que se haya hecho el pago enviar el comprobante a angelica.cisneros@csoftmty.org.</p>
        <p>
          En caso de no poder pagar ahora, puede cerrar sesión haciendo click en "Cerrar Sesión" y regresar cuando pueda realizar el pago, ingresando con su usuario y contraseña que ya registro anteriormente.
        </p>
      </div>
      <div class="row mb-4">
        <div *ngIf="user.escuela_tipo == 'Privada'; else fichaPublica" class="col-md-12 text-center">

          <a class="btn btn-primary" href="../../../../assets/Ficha_de_pago.pdf" download>Descargar ficha de pago</a>
        </div>
        <ng-template #fichaPublica>
          <a class="btn btn-primary" href="../../../../assets/Ficha_de_pago_500.pdf" download>Descargar ficha de pago</a>
        </ng-template>

      </div>
      <hr>
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #avisoTaller>
    <h1 mat-dialog-title>AVISO - Falta Inscripción a Taller</h1>
    <div mat-dialog-content>
      <p>Antes de continuar, es necesario que te inscribas a un Taller. Favor de inscribirse.</p>
      <p>
        En caso de no querer inscribirse a un taller ahora, puede cerrar sesión haciendo click en "Cerrar Sesión" y regresar cuando pueda quiera inscribirse a un taller, ingresando con su usuario y contraseña que ya registro anteriormente.
      </p>
    </div>
    <div mat-dialog-actions class="justify-content-center mb-4 p-4">
      <button mat-button (click)="dialogRef.close(true)" color="primary" cdkFocusInitial>Inscribir Taller</button>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </ng-template>

</div>
