@import '~styles-variables.scss';

.ad {
  margin-top: 100px;

  &__title {
    color: $text-color;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1.28px;
    margin-bottom: 25px;

    span {
      color: $color-blue;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__desc {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.76px;
  }
}
