@import '~styles-variables.scss';

.ad {
  margin-top: 20px;
  margin-bottom: 20px;

  &__title {
    color: $text-color;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px !important;
  }

  &__desc {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.76px;
  }

  &__sender {
    color: $color-blue;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  mat-icon{
    font-size: 30px;
    color: $color-blue;
    margin-top: 10px !important;
  }
}
 
.info{
  text-align: center;
}
.gotoTalleres{
  height: 50px;
}
.gotoTalleres2{
  text-align: center;
  height: 90%;
  padding-top: 1%;
  width: 70%;
  margin-left: 15%;
  background-color: #d7bb68; 
  font-size: larger;
  color: #fffcfc;
  font-weight: 700;
}
