<div class="container-fluid ad">
  <div class="container">
    <div *ngIf="avisos.length > 0 && loading != null">
      <div class="ad__item" *ngFor="let a of avisos">
        <h4 class="ad__title">{{a.titulo}} <span>{{a.emisor}}</span></h4>
        <p class="ad__desc">{{a.mensaje}}</p>
        <hr>
      </div>
    </div>
    <div *ngIf="avisos.length < 1 && loading != null">
      <h4 class="ad__title">Sin Avisos.</h4>
      <p class="ad__desc">Por el momento no hay avisos. Revisa nuevamente más tarde.</p>
    </div>
  </div>
</div>
