<div class="container-fluid">
  <div class="row lpadfix">
    <h3>Categorías</h3>
    <button mat-icon-button color="primary" (click)="add()">
      <mat-icon aria-label="add_sede">add_circle</mat-icon>
    </button>
  </div>
  <div class="row">
    <div class="col-md-4 sedes">
      <div class="list-group">
        <a *ngFor="let c of categorias" [class.active]="c.id == selectedCat.id" (click)="select(c)" class="list-group-item list-group-item-action">{{c.nombre}}</a>
      </div>
    </div>

    <div class="col-md-4">
      <h5>{{ newCat ? 'Nueva categoría:' : ' '}} </h5>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="selectedCat.nombre" name="nombreCat">
      </mat-form-field>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Edad mínima</mat-label>
            <input matInput [(ngModel)]="selectedCat.minima" name="minimaCat">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Edad máxima</mat-label>
            <input matInput [(ngModel)]="selectedCat.maxima" name="maximaCat">
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="!newCat">
        <button mat-raised-button class="pull-right" color="warn" (click)="delete()">Eliminar</button>
        <button mat-raised-button class="pull-right" color="primary" (click)="save()" style="margin-right:12px;">Guardar</button>
      </div>
      <div *ngIf="newCat">
        <button mat-stroked-button class="pull-right" color="primary" (click)="cancel()">Cancelar</button>
        <button mat-raised-button class="pull-right" color="primary" (click)="create()" style="margin-right:12px;">Crear</button>
      </div>

    </div>

    <div class="col-md-4 talleres">
      Talleres:
      <ul class="list-group list-group-flush">
        <li *ngFor="let taller of selectedCat.talleres" class="list-group-item">{{taller}}</li>
      </ul>
    </div>
  </div>
</div>
