@import "~styles-variables.scss";

.register {
  margin: 20px 0;

  // //botones adentro de las cards
  .btn {
    -webkit-appearance: none;
    &:focus {
      box-shadow: none;
    }
    &.accept {
      background-color: $color-green;
    }
    &.primary {
      background-color: $color-blue;
    }
    &.reject {
      background-color: #f7931e;
    }
    &.card {
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
    }
    border: 0;
    color: $color-white;
  }

  .separacion {
    margin: 20px auto 0px auto;
  }

  //pendiente
  .pago {
    font-size: 13px;
    text-align: center;
    margin: 15px auto 0px auto;
  }

  //en revision
  .enRevision {
    color: #55a0ab;
    text-align: center;
  }

  .cambiarRevision {
    font-size: 13px;
    text-align: center;
    margin: 10px auto 0px auto;
  }

  //rechazado
  .rechazado {
    text-align: center;
    color: #f7931e;
    font-size: 14px;
    margin: 0 auto 3px auto;
  }

  .mensajeRechazado {
    text-align: center;
    font-size: 14px;
  }

  //__item es toda la card
  &__item {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 20px 0 0 20px;
    width: 275px; //260
    height: 580px;
    position: relative;

    img {
      border-radius: 5px 5px 0 0;
      height: 155px;
      width: 100%;
    }

    .titulo {
      margin-top: 4px;
      text-align: center;
    }

    .title {
      text-align: center;
    }

    .info-container {
      cursor: pointer;
    }

    .text-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .text-pagado{
      padding: 0px 15px 0px 15px;
    }

    .text-pagar{
      //fondo azul
      padding: 0px 0px 0px 0px;
      background-color: #6eb7c2;
    }

    .btn-container {
      margin: 0px auto 0px auto;
      align-items: center;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 230px;
      left: 5%;
      //____ para centrar verticalmente
      height: 100%;
      top: 0;
      display: table;
    }

    //____ para centrar verticalmente
    .outer {
      margin: 195px auto 0px auto; //155px de la img y 40 del titulo 40 del boton
      position: absolute;
      width: 230px;
      left: 5%;
      height: 345px;
      top: 0;
      display: table;
    }

    //____ para centrar verticalmente
    .middle {
      display: table-cell;
      vertical-align: middle;
    }


    .desc {
      font-weight: 300;
      font-size: 14;
    }

    .ciudad {
      font-weight: 500;
      background-color: $color-orange;
      text-align: center;
      width: 150px;
      color: white;
      margin-bottom: 5px;
    }

    .bottom {
      //botones de abajo de desinscribir
      margin: 20px auto 0px auto !important;
      align-items: center !important;
      position: absolute !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      width: 230px !important;
      left: 10% !important;
      bottom: 8px !important;
    }
  }

  .mat-option.mat-active,
  .mat-option.mat-selected {
    background: $color-blue !important;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Phone */
@media only screen and (max-width: 600px) {
  .register {
    &__actions {
      display: block;
    }

    &__item {
      margin-left: 0;
    }
  }
}
//==

.instruction {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.76px;
  text-align: center;
  width: 80%;
  margin: 15px auto 15px auto;
  color: #6d6d6d;
}

.pasos {
  margin: 5px auto 5px auto;
  font-size: 15px;
}

.iconStep {
  font-size: 60px;
  color: #6eb7c2;
}

.bold {
  font-weight: bold;
}


.leftSc {
  border-radius: 10px 0px 0px 10px;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid #6eb7c2;
  border-top: 2px solid #6eb7c2;
  border-left: 2px solid #6eb7c2;
  border-right: 0px;
  color: #6eb7c2;
  background-color: white;
  transition: background-color 0.2s;

  &.enabled {
    background-color: #6eb7c2;
    color: white;
  }
}

.scContainer {
  margin: 5vh auto 5vh auto;
  display: flex;
  justify-content: center;
}
.rightSc {
  border-radius: 0px 10px 10px 0px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  border-bottom: 2px solid #6eb7c2;
  border-top: 2px solid #6eb7c2;
  border-right: 2px solid #6eb7c2;
  border-left: 0px;
  color: #6eb7c2;
  transition: background-color 0.2s;

  &.enabled {
    background-color: #6eb7c2;
    color: white;
  }
}

//Para imprimir ficha de pago ________________________
.printme {
  display: none;
}

@media print {
  .no-printme {
    display: none;
  }
  .printme {
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;

    p {
      font-size: 30px;
      line-height: 35px;
    }

    img {
      margin-bottom: 30px;
      width: 70%;
    }
  }
}
