@import '~styles-variables.scss';
@import "~bootstrap/scss/bootstrap.scss";

.btn-primary {
  background-color: $color-blue;
  border-color: $color-blue;

  &:hover {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;
  }
}

@include media-breakpoint-down(xs) {
  .step-header {
    display: none;
  }
}
