<div class="header">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="inicio">
      <img src="../../../../assets/img/logo.svg" class="header__logo" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../../assets/img/menu.svg" class="navbar-toggler-icon">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="principal" class="header__link">Inicio</a>
        <a routerLink="." class="header__link">Avisos</a>
        <a routerLink="inscripcion" class="header__link"> Inscripciones </a>
        <a routerLink="documentos" class="header__link"> Documentos a Entregar </a>
      </div>
      <button (click)="logout()" class="logout">
        Cerrar sesión
      </button>
    </div>
  </nav>
</div>
<div class="user-container">
  <section class="hero" *ngIf="router.url !== '/usuario/principal'"  style="background-image: url('../../../../assets/img/hero.png')">
    <h1 class="hero__title" *ngIf="router.url === '/usuario/inicio'"> Avisos </h1>
    <h1 class="hero__title" *ngIf="router.url === '/usuario/inscripcion'"> Talleres </h1>
    <h1 class="hero__title" *ngIf="router.url === '/usuario/documentos'"> Documentos </h1>
  </section>
  <router-outlet></router-outlet>
</div>
