@import '~styles-variables.scss';
@import "~bootstrap/scss/bootstrap.scss";

.header {
  background: rgba(95, 95, 95, 0.57);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .navbar {
    padding: 0 0 0 1rem;
    width: 100%;

    &-collapse {
      justify-content: space-between;
    }

    &-toggler {
      padding: 0;

      &:hover {
        background-color: transparent
      }
    }
  }

  &__content {
    align-items: center;
    display: flex;
    padding: 10px 0 10px 20px;
  }

  &__logo {
    height: 50px;
    width: 35px;
  }

  &__link,
  a {
    color: $color-white;
    font-size: 18px;
    letter-spacing: 0;

    &:hover {
      color: $color-blue;
      text-decoration: none;
    }

    &+& {
      margin-left: 25px;
    }
  }
}

a+button {
  margin-left: 15px;
}

button {
  background-color: $color-blue;
  border: none;
  color: $color-white;
  font-weight: 18px;
  padding: 30px;

  &:hover {
    background: darken($color-blue, 10%);
  }

  &.logout {
    background-color: $color-red;
  }
}

.user-container {
  .hero {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 50vh;
    justify-content: center;

    &__title {
      color: $color-white;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 1.69px;
      text-align: center;
    }
  }
}

/* Phone */
@media only screen and (max-width: 600px) {
  .header {
    &__link,
    a {
      margin-top: 10px;

      & + & {
        margin-left: 0;
      }
    }

    .navbar-toggler {
      margin-right: 15px;
    }

    .logout {
      margin-top: 10px;
      padding: 15px 30px;
    }
  }

  .user-container {
    .hero {
      &__title {
        font-size: 42px;
      }
    }
  }
}
